Source: pychoacoustics
Section: science
Priority: extra
Maintainer: Samuele Carcagno <sam.carcagno@gmail.com>
Build-Depends: debhelper (>= 8.0.0), 
	       python3 (>= 3.1)
X-Python3-Version: >= 3.1
Standards-Version: 3.9.3
Homepage: <http://samcarcagno.altervista.org/pychoacoustics/pychoacoustics.html>
#Vcs-Git: git://git.debian.org/collab-maint/pychoacoustics.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pychoacoustics.git;a=summary

Package: pychoacoustics
Architecture: any
Depends: ${python3:Depends}, 
	 ${misc:Depends}, 
	 ${shlibs:Depends},
	 python3 (>= 3.1), 
	 python3-numpy (>= 1:1.6.1), 
	 python3-scipy (>=0.9.0), 
	 python3-pyqt5 (>=5.3.2), 
	 alsa-utils (>= 1.0.23-3), 
	 sox (>= 14.3.1) 
Description: Platform for psychoacoustics experiments
 Platform for building and running auditory 
 psychophysics experiments.
