#!/usr/bin/make -f

#DH_VERBOSE=1

PYTHON2=$(shell pyversions -vr)
PYTHON3=$(shell py3versions -vr)

# Prevent setuptools/distribute from accessing the internet.
export http_proxy = http://127.0.9.1:9

%:
	dh $@ --with python3  


build-python%:
	python$* setup.py build

override_dh_auto_build: $(PYTHON3:%=build-python%)
	dh_auto_build

install-python%:
	python$* setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb

override_dh_auto_install: 
	python3 setup.py install --root=debian/pychoacoustics --install-layout=deb --install-lib=/usr/share/pychoacoustics --install-scripts=/usr/share/pychoacoustics

override_dh_pysupport:
	

override_dh_python3:
	

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf *.egg-info
